* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.results{
    height: 10px;
    width: 100%;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board{
    margin-top: 5%;
    width:500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: black;
    gap:5px;
}

.cell{
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.X {
    color:red
}

.O {
    color:blue
}